@model IEnumerable<storelaptop.Models.user_table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .table tr th {
        background-color: yellow;
        border: 2px black solid
    }

    .table tr td {
        border: 2px black solid
    }
</style>
<br />
<br />
<br />
<h2 style="text-align:center">Danh Sách Tài Khoản</h2>
<p style="text-align:center">
    <button>   @Html.ActionLink("Thêm Tài Khoản", "Create")</button>
    @using (Html.BeginForm("Index", "user_tables", FormMethod.Get))
    {
    <p style="text-align:center">
        Nhập Tên Tìm kiếm: @Html.TextBox("SearchString")
        <input type="submit" value="Tìm Kiếm" />
    </p>
}
    </p>
    <table class="table" style="text-align:center;border:1px black solid;width:800px;margin:0 auto;margin-bottom:100px">
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.user_name)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.pass_word)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.full_name)
            </th>
            <th style="text-align:center"> Chức Năng</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.user_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pass_word)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.full_name)
            </td>
            <td>
                <button> @Html.ActionLink("Edit", "Edit", new { id = item.id })</button>  |
                <button>  @Html.ActionLink("Details", "Details", new { id = item.id })</button>   |
                <button> @Html.ActionLink("Delete", "Delete", new { id = item.id })</button>
            </td>
        </tr>
        }

    </table>
