@model storelaptop.Models.nhanvien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .table tr th {
        background-color: yellow;
        border: 2px black solid
    }

    .table tr td {
        border: 2px black solid
    }
</style>

<div>
    <h4 style="text-align:center;margin-top:50px">Chi Tiết Nhân Viên</h4>
    <hr />
    <table class="table" style="text-align:center;border:1px black solid;width:1000px;margin:0 auto">
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.manhanvien)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.anh)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.tennhanvien)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ngaysinh)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.diachi)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.sodienthoai)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.manhanvien)
            </td>
            <td>
                @Html.DisplayFor(model => model.anh)
            </td>
            <td>
                @Html.DisplayFor(model => model.tennhanvien)
            </td>
            <td>
                @Html.DisplayFor(model => model.ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(model => model.diachi)
            </td>
            <td>
                @Html.DisplayFor(model => model.sodienthoai)
            </td>
        </tr>

    </table>

</div>
<p style="text-align:center; margin-top:20px">
    @Html.ActionLink("Edit", "Edit", new { id = Model.manhanvien }) |
    <button> @Html.ActionLink("Back to List", "Index")</button>
</p>

