@model IEnumerable<storelaptop.Models.tintuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .table tr th {
        background-color: yellow;
        border: 2px black solid
    }

    .table tr td {
        border: 2px black solid
    }
</style>
<h2 style="text-align:center;margin-top:50px">Danh Sách Tin Tức</h2>

<p style="text-align:center">
    <button>   @Html.ActionLink("Thêm Tin Tức", "Create")</button>
</p>
@using (Html.BeginForm("Index", "tintucs", FormMethod.Get))
{
    <p style="text-align:center">
        Nhập Tên Tìm kiếm: @Html.TextBox("SearchString")
        <input type="submit" value="Tìm Kiếm" />
    </p>
}
<table class="table" style="text-align:center;border:1px black solid;width:1200px;margin:0 auto;margin-bottom:100px">
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.matintuc)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.anh)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.tentintuc)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.mota)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.chitiet)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.danhmuctintuc.tendanhmuctintuc)
        </th>
        <th style="text-align:center; width:250px">Chức Năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.matintuc)
            </td>
            <td>
                <img src="~/Anh/@item.anh" width="60px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tentintuc)
            </td>
            <td>
                @Html.Raw(item.mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chitiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.danhmuctintuc.tendanhmuctintuc)
            </td>
            <td>
                <button>   @Html.ActionLink("Edit", "Edit", new { id = item.matintuc })</button>  |
                <button>    @Html.ActionLink("Details", "Details", new { id = item.matintuc })</button> |
                <button>@Html.ActionLink("Delete", "Delete", new { id = item.matintuc })</button>
            </td>
        </tr>
    }

</table>
