@model IEnumerable<storelaptop.Models.danhmucsanpham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .table tr th {
        background-color: yellow;
        border: 2px black solid
    }

    .table tr td {
        border: 2px black solid
    }
</style>
<h2 style="text-align:center;margin-top:50px">Danh Sách Các Danh Mục Sản Phẩm</h2>
<p style="text-align:center">
    <button>   @Html.ActionLink("Thêm Danh Mục Sản Phẩm", "Create")</button>
    @using (Html.BeginForm("Index", "danhmucsanphams", FormMethod.Get))
    {
    <p style="text-align:center">
        Nhập Tên Tìm kiếm: @Html.TextBox("SearchString")
        <input type="submit" value="Tìm Kiếm" />
    </p>
}

    <table class="table" style="text-align:center;border:1px black solid;width:900px;margin:0 auto;margin-bottom:100px">
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.madanhmucsanpham)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.tendanhmucsanpham)
            </th>
            <th style="text-align:center"> Chức Năng</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.madanhmucsanpham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tendanhmucsanpham)
                </td>

                <td>
                    <button>  @Html.ActionLink("Edit", "Edit", new { id = item.madanhmucsanpham })</button>  |
                    <button>   @Html.ActionLink("Details", "Details", new { id = item.madanhmucsanpham })</button> |
                    <button>   @Html.ActionLink("Delete", "Delete", new { id = item.madanhmucsanpham })</button>
                </td>
            </tr>
        }

    </table>
